NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
MONGODB_URI=
BETTER_AUTH_SECRET=
SMTP_PASS=
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_FROM=
SMTP_FROM_NAME=Job Tracker